@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        background-color: #0A0A0F;
    }
    body {
        font-family: 'Inter', system-ui;
        @apply text-base ;
    }
    h1 {
        @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
    }
    h2 {
        @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    }
    h3 {
        @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
    }
    h4 {
        @apply text-base md:text-lg lg:text-xl xl:text-2xl;
    }
    h5 {
        @apply text-base md:text-lg lg:text-xl xl:text-2xl;
    }
    h6 {
        font-size: 1.2rem;
    }
    p {
        @apply text-gray-500;
    }
}

.title {
    font-family: 'Lora', system-ui;
    @apply font-bold text-2xl md:text-4xl lg:text-6xl;
}

.subtitle {
    @apply font-bold text-gray-500
}